.projectContainer .iconButton{
  color: rgb(110, 109, 109);
  transition: opacity 0.3s ease;
  &:hover{
    opacity: 0.7;
  }
}

.projectContainer .projectCard{
  width: 400px;
}

@media(max-width:950px){
  .projectContainer .projectCard{
    width: 350px;
  }
}

@media(max-width:500px){
  .projectContainer .projectCard{
    width: 300px;
  }
}