.footerContainer{
  width: 100%;
  padding: 10px 0px;
  margin: 25px 0px 25px 0px;
}

.socialIcons{
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
  list-style: none;
  padding: 0;
}

.socialIcons li{
  padding: 0px 10px;
}

.footerBottom{
  display: flex;
  justify-content: center;
}

.iconButtonHover {
  transition: opacity 0.3s ease;
}

.iconButtonHover:hover {
  opacity: 0.7;
}
