:root{
  --black:#000000;
  --white:#EDEDED;
  --green:#08fa4db4;
  --skyblue:#04e8f8;
}

*{
  box-sizing: border-box;
  font-family: Raleway, serif;
  background-color: var(--black);
}

p{
  color: var(--green);
  font-size: 18px;
}

h1{
  color: var(--skyblue);
}

header{
  padding: 30px;
}

header h1{
  margin-left: 30px;
}

.nav-link {
  color: var(--skyblue);
  transition: color 0.3s;
  font-size: 25px;
}

.nav-link:hover {
  color: var(--green);
}

.nav-link.active {
  color: var(--green);
}

.aboutContainer{
  margin: 0px 100px;
}

.aboutContainer h1{
  margin-bottom: 25px;
}

.contactContainer{
  margin: 0px 100px;
  padding-bottom: 25px;
}

.contactContainer h1{
  margin-bottom: 25px;
}

.contactContainer h2{
  color: var(--skyblue);
  margin-bottom: 15px;
}

.contactContainer input {
  width: 50%;
  background-color: white;
  margin-bottom: 15px;
  border-radius: 4px;
}

.contactContainer #messageInput {
  background-color: white;
  width: 50%;
  height: 200px;
  border-radius: 4px;
  display: block; 
}

.contactContainer .submitBtn {
  display: block; 
  margin-top: 10px;
  background-color: var(--skyblue);
  font-weight: bold;
}

.contactContainer .submitBtn:hover {
 background-color: var(--green);
}

.resumeContainer{
  margin: 10px 100px;
}

.resumeContainer a{
  text-decoration: none;
  color: var(--green);
}

.resumeContainer a:hover{
  color: var(--skyblue);
}

.resumeContainer ul{
  color: var(--green); 
  list-style: circle;
}

.resumeContainer h2{
  color: var(--skyblue);
}

.footerContainer{
  width: 100%;
  padding: 10px 0px;
  margin-top: 10px;
}

.socialIcons{
  display: flex;
  justify-content: center;
}

.footerBottom{
  display: flex;
  justify-content: center;
}