/* :root{
  --black:#000000;
  --white:#EDEDED;
} */

*{
  box-sizing: border-box;
  font-family: Raleway, serif;
  background-color: var(--black);
}

p{
  color: var(--white);
}

h1{
  color: blue;
}

.footerContainer{
  width: 100%;
  padding: 70px 30px 20px;
}

.socialIcons{
  display: flex;
  justify-content: center;
}

.footerBottom{
  display: flex;
  justify-content: center;
}