*{
  box-sizing: border-box;
}

body{
  margin: 0;
}

p{
  font-size: 18px;
  margin-bottom: 10px;
}

a{
  text-decoration: none;
}

.homeContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.column1 {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.column2 {
  flex: 1;
  display: flex;
  justify-content: center
}

.aboutContainer .row {
  display: flex;
  margin-bottom: 20px;
}

.aboutContainer .imageContainer {
  flex: 1;
  margin-right: 20px;
}

.aboutContainer .textContainer {
  flex: 2;
}

.aboutContainer img {
  max-width: 100%;
  height: auto;
}

.portfolioContainer h3{
  font-size: 28px;
  width: 150px;
  margin: 0;
  padding: 10px;
  border-radius: 8px;
}

.contactContainer .row{
  display: flex;
}

.formColumn {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 20px;
}

.formColumn .MuiTextField-root {
  width: 90%; 
  margin-bottom: 10px;
}

.formColumn .MuiButton-root {
  width: 25%; 
  background-color: purple;
  color: white;
}

.contactContainer .imageColumn {
  flex: 1;
  margin-bottom: 50px;
}

.contactContainer img{
  width: 80%;
}

.resumeContainer ul{ 
  list-style: circle;
}