header .navTab .activeTab{
  background-color: purple;
}

.navTab .MuiTabs-indicator {
  display: none;
}

.sidebar{
  display: none;
}

@media(max-width: 770px){
  .navContainer .navbar{
    display: none;
  }

  .navContainer .sidebar{
    display: block;
  }
}